.neon-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px #000000;
  }
  
  .neon-table th, .neon-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
  }
  
  .neon-table th {
    background-color: #ff00cc;
    color: #ffffff;
    font-weight: bold;
  }
  
  .neon-table tr:nth-child(even) {
    background-color: #ff0066;
  }
  
  .neon-table tr:nth-child(odd) {
    background-color: #ff0033;
  }