<!DOCTYPE html>
<html>
<head>
    {% load static %}
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="shortcut icon" href="static/favicon.png">
  <style>
  .neon-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .neon-table th, .neon-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
  }
  
  .neon-table th {
    background-color: #ff00cc;
    color: #ffffff;
    font-weight: bold;
  }
  
  .neon-table tr:nth-child(even) {
    background-color: #ff0066;
  }
  
  .neon-table tr:nth-child(odd) {
    background-color: #ff0033;
  }
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

 
  
</head>
<body>

  <nav id="topNav" class="navbar navbar-expand-md navbar-dark bg-dark">
    <div  class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul id="list" class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'library' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'records_today' %}">Records for Today</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'allrecords' %}">View all records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'recordsbystatus' %}">Current records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'records' %}">Records by date</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'recordsbymonth' %}">Records by month</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'exportbydate' %}">Download by date</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'exportbymonth' %}">Download by month</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'shifts' %}">View by Shifts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'statistics' %}">Statistics</a>
              </li>
            </ul>
            
          </div>
        </nav>
        <br>
             
      <br>
      
      
      
      
      {% block content%}
      {% endblock %}
      <script src={% static 'script.js' %}>
      </script>
    </body>
    </html>
    
    
