{% extends 'base.html'%}
{% load static %}
{% block title %}
  Current Records
{% endblock %}

{% block content%}
<br>
<h1 class="text-center">Current Records</h1>
<table class="neon-table">
    <thead>
        <tr>
            <th>Index</th>
            <th>Roll Number</th>
            <th>Entry Time</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ student.rollno }}</td>
            <td>{{ student.entrytime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>    

{% endblock %}