{% extends 'base.html'%}
{% load static %}
{% block title %}
  Home
{% endblock %}

{% block content%}
    <h1 class="text-center">Central Library Entry-Exit System</h1>
    <!-- make the message green when it is an entry and red when it is exit-->
    
    {% if message == "" %}
    
    {% else %}

    {% if x %}
    <div class="text-center alert alert-success" ">
    {% else %}
    <div class="text-center alert alert-warning" ">
    {% endif %}
      {{ message }}</div>
    {% endif %}
    <form method="POST" class="text-center mt-4 mb-5">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="text-center btn btn-dark">
    </form>

{% endblock %}