{% extends 'base.html'%}
{% load static %}
{% block title %}
  Home
{% endblock %}

{% block content %}
    <br>
    <br>

    <h1 class="text-center " style="font-size: 50px;">Central Library Entry-Exit System</h1>
    <!-- make the message green when it is an entry and red when it is exit-->

    <h1 class="text-center text-black-100">Place your ID card on the reader and press <u>Enter</u></h1>
    {% if message == "" %}
    
    {% else %}
    {% if message == "Error: Failed to read data from the reader. Please try again." or message == "Error: Invalid roll number format. Please try again." %}
    <div class="text-center alert alert-danger">
    {% elif x %}
    <div class="text-center alert alert-success">
    {% else %}
    <div class="text-center alert alert-warning">
    {% endif %}
    <h3 class="text-center">{{ message }}</h3>
      </div>
    {% endif %}
    <form method="POST" class="text-center mt-4 mb-5">
        {% csrf_token %}
        
        <input type="text" id="student_id" name="student_id" autofocus> <!-- Added id attribute -->
        <input type="submit" value="Submit" class="text-center btn btn-dark">
    </form>
      <h2 class="text-center">Number of Students Inside: {{count}}</h2>    
      <h2 class="text-center">Total Visits Today: {{total_visits_today}}</h2>

    <br>
    <br>
    <br>

    <table class="neon-table">
      <thead>
          <tr>
              <th>Morning 00:00 - 08:00</th>
              <th>General 08:00 - 16:30</th> 
              <th>Night 16:30 - 00:00</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                  <p>{{ morning_count }}</p>
              </td>
              <td>
                  <p>{{ general_count }}</p>
              </td>
              <td>
                  <p>{{ night_count }}</p>
              </td>
          </tr>
      </tbody>
  </table>
    <br>

    <script>
        // Focus on the input field when the page loads
        window.addEventListener('load', function() {
            document.getElementById('student_id').focus();
        });
    </script>
    
{% endblock %}
