{% extends 'base.html'%}
{% load static %}
{% block title %}
  Records for Today
{% endblock %}
{% block content%}
<br>
<br>
    <h1>Statistics</h1>
    <canvas id="entryChart" width="400" height="200"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        // Data from the Django view
        var weekdayLabels = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
        //var entryCounts = [{{ monday }}, {{ tuesday }}, {{ wednesday }}, {{ thursday }}, {{ friday }}, {{ saturday }}, {{ sunday }}];
        var entryCounts = ["{{ monday }}", "{{ tuesday }}", "{{ wednesday }}", "{{ thursday }}", "{{ friday }}", "{{ saturday }}", "{{ sunday }}"]
        // Create a bar chart
        new Chart("entryChart", {
            type: "bar",
            data: {
                labels: weekdayLabels,
                datasets: [{
                    label: 'Average Entries',
                    data: entryCounts,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Average Entries by Weekday',
                    fontSize: 25 //set font size
                    //set font size
                    

                    
                }
            }
        });
    </script>
{% endblock %}
```
